.tumblr-body {
  background-color: #2f4b66;
  margin-top: 25px;
}

.header{
  font-family: "Bookman Old Style" !important;
  font-weight: bold;
  color: white;
  font-size: 4em;
}

.content {
  background-color: rgba(44, 71, 98, 1);
}

.post {
  background-color: white;
}